@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>@ViewData["Title"] </h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-default btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="bg-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class="btn btn-sm btn-outline-secondary" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
